* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: #F2c14E;
    --winning-blocks: #2d414b;
}

body {
    color: var(--orange);
    font-family: 'Finger Paint', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #37505c;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #37505c;
    border-radius: 10px; /* Optional: for rounded corners on the container */
}

#gameboard {
    width: 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    margin-top: 40px;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border: 2px solid var(--orange);
    background-color: #fff;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #333;
    border: none;
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}
